<ion-view>
    <ion-nav-title>签到吧</ion-nav-title>
    <ion-content class='home'>
        <div class='slide-bar'>
            <slide-list slide-list="navList" change-slide="changeSlide(id)"></slide-list>
        </div>

        <div class='not-found' ng-if='!actionList || actionList.length==0'>
            <img src='asset/img/no.png'/>
            <p>哎呀，您还没有创建活动</p>

            <button class='button button-calm' ng-click='goCreate()'>点我创建活动</button>
            <button class='button button-energized' ng-click='goHelp()'>查看基础流程</button>
        </div>


        <div class='action-list' ng-if='actionList && actionList.length>0'>
            <div class='each-action' ng-repeat="data in actionList track by $index" ng-click='goDetail(data)'>
                <!-- <img ng-src='{{data.img}}'/> -->
                <div class='img' ng-style="{'background-image':'url('+data.img+')'}"></div>
                <div class='right'>
                    <p class='title'>{{data.name}}</p>
                    <p class='time time1'>开始时间：<label>{{data.startTime}}</label></p>
                    <p class='time time2'>结束时间：<label>{{data.endTime}}</label></p>
                    <p class='address'><i class="icon ion-location"></i>{{data.position}}</p>
                    <label class='type'>{{data.type}}</label>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
